<meta name="viewport" content="width=device-width, initial-scale=1" xmlns="http://www.w3.org/1999/html">

<style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%;}

    /* Set gray background color and 100% height */
    .sidenav {
        padding-top: 100px;
        /*background-color: #f6f6f6;*/
        height: 100vh;

    }

    .textarea-custom {
        border: none;
        overflow: auto;
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .panel-height {
        min-height:80vh;
    }

    .nopadding-nomargin{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .form-padding {
        padding: 15px;
    }

    .row-margin-bottom{
        margin-bottom: 10px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 0px;
        }
        .row.content {height:auto;}
    }
</style>


<div ng-controller="HomeController as homeCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">Organizer</div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown-toggle">
                        Add new
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">Add new goal</a> </li>
                        <li><a href="">Add new event</a> </li>
                    </ul>
                </li>
                <li class="dropdown" >
                    <a href class="dropdown-toggle" data-toggle="dropdown-toggle">
                        Settings
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">Profile</a> </li>
                        <li><a href="">Reports</a> </li>
                        <li><a href="" ng-click="homeCtrl.logout()">Logout</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div ng-controller="EventController as eventCtrl">
    <div class="container container-fluid">
        <div class="row row-no-margin">
            <div class="col-md-3 sidenav nopadding">
                <h4>{{globals.currentUser.name}}'s Notebook</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a ng-click="eventCtrl.goToGoals()">Goals</a>
                    </li>
                    <li class="active">
                        <a>Events</a>
                    </li>
                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..">
                    <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
                </div>
            </div>

            <div class="col-md-4" style = "padding-top:100px">

                <div class="panel panel-default panel-height">
                    <div class="panel-heading">Your's personal events</div>
                    <div class="panel-body">
                        <!--<a ng-repeat="item in goals" ng-href="#">-->
                        <!--<div>{{item.name}}</div>-->
                        <!--</a>-->
                        <table class="table table-hover">
                            <tbody>
                            <tr ng-repeat="item in eventCtrl.events" ng-click="eventCtrl.edit(item.id)">
                                <td>{{item.name}}</td>
                                <!--<td>{{item.info}}</td>-->
                            </tr>
                            </tbody></table>
                    </div>

                </div>
            </div>

            <div class="col-md-5 sidenav">

                <div class="panel panel-default panel-height">
                    <div class="panel-heading">
                        <input type="text" ng-model="eventCtrl.event.name" class="username form-control input-sm textarea-custom" placeholder="...enter event name">
                    </div>
                    <div class="panel-body">

                        <div class="formcontainer form-padding">
                            <form ng-submit="goalCtrl.submit()" name="myForm" class="form-horizontal">
                                <input type="hidden" ng-model="eventCtrl.event.id" />


                                <div class="row row-margin-bottom">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-6 control-lable" for="startDate">Start date: </label>
                                        <div class="col-md-6">
                                            <input type="text" ng-model="eventCtrl.event.startDate" id="startDate" class="username form-control input-sm textarea-custom" placeholder="...">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-margin-bottom">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-6 control-lable" for="endDate">End date: </label>
                                        <div class="col-md-6">
                                            <input type="text" ng-model="eventCtrl.event.endDate" id="endDate" class="username form-control input-sm textarea-custom" placeholder="...">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-margin-bottom">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-6 control-lable" for="remainderDate">Remainder date: </label>
                                        <div class="col-md-6">
                                            <input type="text" ng-model="eventCtrl.event.remainderDate" id="remainderDate" class="username form-control input-sm textarea-custom" placeholder="...">
                                        </div>
                                    </div>
                                </div>


                                <div class="row row-margin-bottom">
                                    <label for="example">Notes</label>
                                    <textarea class="form-control textarea-custom" rows="4" id="example" ng-model="eventCtrl.event.note" placeholder="...enter note"></textarea>
                                </div>

                                <!--<div class="row row-margin-bottom">-->
                                    <!--<div class="form-group col-md-12">-->
                                        <!--<label class="col-md-6 control-lable">Time budget available: </label>-->
                                        <!--<div class="col-md-3">-->
                                            <!--<span>{{goalCtrl.goal.totalBudget - goalCtrl.goal.bookedBudget}}</span>-->
                                        <!--</div>-->
                                        <!--<span>hours</span>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <div class="row">
                                    <div class="form-actions floatRight">
                                        <!--<button type="submit" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">{{!user.id ? 'Add' : 'Update'}}</button>-->
                                        <input type="submit" value="{{!eventCtrl.event.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                                        <button type="button" ng-click="eventCtrl.remove(goalCtrl.goal.id)" class="btn btn-danger btn-sm">Delete</button>
                                        <button type="button" ng-click="eventCtrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
